<div style="padding: 50px;">

    <h1 style="padding: 15px;">Bienvenida/o {{persona}} !</h1>

    <a type="button" class="btn btn-primary btn-lg" href="/admin/login/logout" style="margin-left:100px">Cerrar
        Sesión</a>
</div>